.createCardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.createTitle {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.createBtn {
    font-size: 1em;
    padding: 12px 24px;
    color: #fff;
    background-color: #1e6ec493;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.createBtn:hover {
    background-color: #1e6ec4cc;
    transform: scale(1.05);
}

.createBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
}

/* All Cards */

.allCardsSection{
    display: flex;
    justify-content: center;
}

.allCards{
    /* width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

